<meta charset="UTF-8" />
<title>Tenant</title>
<link rel="stylesheet" href="styles/style.css" />
<style>
  body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
</style>
